.taskHolder {
  display: inline-block;
  margin: 0 30px 30px 30px;
  padding: 30px;
  width: 240px;
  height: 220px;
  background-color: var(--darkGray);
  box-shadow: 0 3px 4px 3px var(--blackShadow);
  color: var(--white);
  border: 1px solid transparent;
  transition: all 50ms ease-in-out;
}

.captionField {
  -webkit-appearance: none;
  width: 70%;
  display: block;
  text-align: center;
  margin: 1rem auto;
  padding: 5px;
  background-color: transparent;
  border: none;
  color: var(--white);
  font-weight: 800;
  font-size: 15px;
  resize: none;
  flex-wrap: wrap;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.textField {
  -webkit-appearance: none;
  width: 100%;
  background-color: transparent;
  resize: none;
  border: none;
  color: var(--secondaryText);
  font-size: 11px;
  word-wrap: break-word;
}

.taskHolder ::-webkit-scrollbar {
  width: 5px;
}

.taskHolder ::-webkit-scrollbar-thumb {
  background: var(--darkGray);
}

.selected {
  background-color: rgba(32, 89, 35, 0.5);
  border: 1px solid var(--primaryGreen);
  box-shadow: 0 0 5px 2px inset var(--greenShadow);
}

.icons {
  margin: -4.5rem -0.5rem;
  float: right;
  position: relative;
  width: min-content;
}

.defaultIcons > *, .editingIcons > * {
  width: 25px;
  height: 25px;
  transition: 100ms ease-in-out;
}
.taskHolder input[type=checkbox]::before {
  opacity: 0;
}
.selected input[type=checkbox]::before {
  background-color: var(--primaryGreen);
  opacity: 1;
}

.editIcon {
  color: var(--primaryGreen);
}

.editIcon:hover {
  color: var(--white);
}

.defaultIcons > *:active, .editingIcons > *:active {
  transform: scale(0.8);
}

.editing {
  animation: cardBorderPulse 2s step-end infinite;
}

.editing .defaultIcons, .saveIcon, .discardIcon {
  display: none;
}

.editing .saveIcon, .editing .discardIcon {
  display: unset;
}

.discardIcon:hover {
  color: brown;
}

.saveIcon:hover {
  color: var(--primaryGreen);
}

.taskHolder p {
  font-size: 10px;
  font-weight: bolder;
}

.taskHolder hr {
  border: none;
  height: 1px;
  background-color: var(--white);
}

@keyframes cardBorderPulse {
  from, to {
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    border: 1px solid transparent;
    box-shadow: 0 0 5px 2px inset transparent;
  }
  50% {
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    border: 1px solid var(--primaryGreen);
    box-shadow: 0 0 5px 2px inset var(--greenShadow);
  }
}

.card-editable .editIcon {
  display: unset;
}
