.header {
  text-align: center;
  background-color: var(--darkGray);
  box-shadow: 0 3px 4px 3px var(--blackShadow);
  color: var(--white);
  width: 100%;
  display: flex;
}

.header>h3 {
  margin: 2rem 70% 0 30%;
}

.header {
  margin-bottom: 20px;
}

