.header {
  background-color: var(--darkGray);
  box-shadow: 0 3px 4px 3px var(--blackShadow);
  color: var(--white);
  display: flex;
  margin-bottom: 20px;

  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
}

.list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin: 2px;
  position: absolute;
}

.list a {
  text-decoration: none;
  color: var(--primaryGreen);
}

.list a:hover {
  color: var(--accentGreen);
}

.list a.active {
  color: var(--white);
}