.deleteButton {
  color: #1F1F1FFF;
  background-color: #206b35;
  border: 1px solid transparent;
  margin-left: 20px;
}

.deleteButton:hover {
  border: 1px solid rgba(147, 224, 102, 0.45);
  box-shadow: 0 0 5px 2px inset rgba(49, 155, 120, 0.32);
  size: auto;
  cursor: pointer;
  color: aliceblue;
}

.deleteButton:active {
  background-color: #56c475;
}
