.taskLabel {
  margin: 15px;
  color: var(--white);
  position: absolute;
  left: 55px;
  border: 1px solid var(--primaryGreen);
  box-shadow: 0 0 5px 2px inset var(--greenShadow);
  font-size: 10px;
  padding: 2px 5px 2px 5px;
}
